<footer>
    <section id="info">
        <div class="container-fluid mt5">
            <div class="row"> 
                <div class="col-12 col-md-4">
                    <img src="../../static/img/Logo-Pigasus.png" alt="logo" id="footerLogo">
                </div>
                <div class="col-12 col-md-4">
                    <ul>
                        <li><a href="https://wa.me/+573122093137"><img src="../../static/img/whatsapp.png" alt="" srcset=""></a> Whatsapp</li>
                        <li><a href="https://www.facebook.com/gabrieljaime.canooquendo"><img src="../../static/img/facebook.png" alt="" srcset=""></a> Facebook</li>
                        <li><a href="https://www.instagram.com/_gabriel_cano_/"><img src="../../static/img/instagram.png" alt="" srcset=""></a> Instagram</li>
                        <li><a href="https://github.com/GabrielCano22"><img src="../../static/img/github.png" alt="" srcset=""></a> Github</li>
                    </ul>
                </div>
                <div class="col-12 col-md-3" id="mapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d355.7171444914554!2d-75.60486830968674!3d6.1599494167364774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46832e894b1e63%3A0x33de92e00796c1b3!2sPigasus%20-%20Mayorca!5e0!3m2!1ses!2sco!4v1668441210763!5m2!1ses!2sco" width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </section>
</footer>