<section>
    <div>
        <div></div>
    </div>
    <div id="metodosPago">
        <img src="../../static/img/" alt="" srcset="">
    </div>
    <div id="ubicacion">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d355.7171444914554!2d-75.60486830968674!3d6.1599494167364774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46832e894b1e63%3A0x33de92e00796c1b3!2sPigasus%20-%20Mayorca!5e0!3m2!1ses!2sco!4v1668441210763!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>