<ul class="nav">
    <div id="texto">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Quienes somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
          <div id="iconos">
            <li class="nav-item">
                <a href="https://wa.me/+573122093137"><img src="../../static/img/whatsapp.png" alt="whatsapp"></a>
                <a href="https://www.facebook.com/gabrieljaime.canooquendo"><img src="../../static/img/facebook.png" alt="facebook"></a>
                <a href="https://www.instagram.com/_gabriel_cano_/"><img src="../../static/img/instagram.png" alt="instagram"></a>
                <a href="https://github.com/GabrielCano22"><img src="../../static/img/github.png" alt="github"></a>
              </li>
          </div>
    </div>
  </ul>